@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
body{
  background: #000;
}
h1,h4,p,a{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
  padding: 12px 24px;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(248, 217, 15, 0.947);
  color: #222;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}
.btn-light{
  background: transparent;
  color: #fff;
}
.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 0.5px solid #ffffff71;
  transition: 0.3s ease-in-out all;
}
